In [72]:
import pandas as pd
data=[1,2,3,4]
df=pd.Series(data)
print(df)

0    1
1    2
2    3
3    4
dtype: int64

In [73]:
data = {
'Name': ['Alice', 'Bob', 'Charlie'],
'Age': [25, 30, 35],
'City': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [74]:
import pandas as pd
df = pd.read_csv('transactions.csv')
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1

In [75]:
import pandas as pd
df = pd.read_csv('transactions.csv')
print(df.tail())

   TransactionID TransactionDate  UserID  ProductID  Quantity
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [76]:
import pandas as pd
df = pd.read_csv('transactions.csv')
print(df.describe())

       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

In [77]:
import pandas as pd
df = pd.read_csv('transactions.csv')
print(df[['UserID','Quantity','TransactionID']])#print colunms mentioned

   UserID  Quantity  TransactionID
0     7.0         1              1
1     3.0         1              2
2     3.0         1              3
3     1.0         3              4
4     2.0         1              5
5     2.0         6              6
6     3.0         1              7
7     NaN         3              8
8     7.0         3              9
9     3.0         4             10

In [78]:
import pandas as pd
df = pd.read_csv('transactions.csv')
print(df.iloc[0])

TransactionID               1
TransactionDate    2010-08-21
UserID                    7.0
ProductID                   2
Quantity                    1
Name: 0, dtype: object

In [79]:
import pandas as pd
df = pd.read_csv('transactions.csv')
print(df.iloc[[1,4]])#print 1 and 4th row

   TransactionID TransactionDate  UserID  ProductID  Quantity
1              2      2011-05-26     3.0          4         1
4              5      2013-06-06     2.0          4         1

# Filtering Data

In [80]:
import pandas as pd
filtered_df=df[df['UserID']>5]
print(filtered_df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
8              9      2015-04-24     7.0          4         3

In [81]:
import pandas as pd
df.rename(columns={'TransactionID':'TID','TransactionDate':'TDate'},inplace=True)
print(df)

   TID       TDate  UserID  ProductID  Quantity
0    1  2010-08-21     7.0          2         1
1    2  2011-05-26     3.0          4         1
2    3  2011-06-16     3.0          3         1
3    4  2012-08-26     1.0          2         3
4    5  2013-06-06     2.0          4         1
5    6  2013-12-23     2.0          5         6
6    7  2013-12-30     3.0          4         1
7    8  2014-04-24     NaN          2         3
8    9  2015-04-24     7.0          4         3
9   10  2016-05-08     3.0          4         4

In [82]:
print(df.isnull().sum())

TID          0
TDate        0
UserID       1
ProductID    0
Quantity     0
dtype: int64

In [83]:
 df['UserID'].fillna(df['UserID'].mean(), inplace=True)
print(df)

   TID       TDate    UserID  ProductID  Quantity
0    1  2010-08-21  7.000000          2         1
1    2  2011-05-26  3.000000          4         1
2    3  2011-06-16  3.000000          3         1
3    4  2012-08-26  1.000000          2         3
4    5  2013-06-06  2.000000          4         1
5    6  2013-12-23  2.000000          5         6
6    7  2013-12-30  3.000000          4         1
7    8  2014-04-24  3.444444          2         3
8    9  2015-04-24  7.000000          4         3
9   10  2016-05-08  3.000000          4         4

In [84]:
import pandas as pd
df = pd.read_csv("transactions.csv")
df.dropna(inplace=True)
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [85]:
import pandas as pd
df = pd.read_csv("transactions.csv")
df_sorted = df.sort_values(by=["Quantity", "TransactionDate"],
ascending=[True, False])
print(df_sorted.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity
6              7      2013-12-30     3.0          4         1
4              5      2013-06-06     2.0          4         1
2              3      2011-06-16     3.0          3         1
1              2      2011-05-26     3.0          4         1
0              1      2010-08-21     7.0          2         1

In [86]:
subset_rows = df.iloc[[0, 2, 5]]
print(subset_rows)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
5              6      2013-12-23     2.0          5         6

In [87]:
foo = [True, False, True, False,True,False,True,True,True,False] # Example of a boolean array
subset_rows = df[foo]
print(subset_rows)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
4              5      2013-06-06     2.0          4         1
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3

In [88]:
subset = df[df['Quantity'] > 1][['TransactionID',
'TransactionDate']]
print(subset)

   TransactionID TransactionDate
3              4      2012-08-26
5              6      2013-12-23
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [89]:
columns_to_select = ['TransactionID', 'TransactionDate']
print(columns_to_select)#print column names
subset_columns = df[columns_to_select]
#print(subset_columns)

['TransactionID', 'TransactionDate']

In [90]:
columns_to_exclude = ['Quantity', 'ProductID']
subset_columns_excluded = df[[col for col in df.columns if col not in columns_to_exclude]]
print(subset_columns_excluded)

   TransactionID TransactionDate  UserID
0              1      2010-08-21     7.0
1              2      2011-05-26     3.0
2              3      2011-06-16     3.0
3              4      2012-08-26     1.0
4              5      2013-06-06     2.0
5              6      2013-12-23     2.0
6              7      2013-12-30     3.0
7              8      2014-04-24     NaN
8              9      2015-04-24     7.0
9             10      2016-05-08     3.0

In [91]:
print(df.dtypes)
df['TransactionDate'] = pd.to_datetime(df['TransactionDate'])
print(df.dtypes)

TransactionID        int64
TransactionDate     object
UserID             float64
ProductID            int64
Quantity             int64
dtype: object
TransactionID               int64
TransactionDate    datetime64[ns]
UserID                    float64
ProductID                   int64
Quantity                    int64
dtype: object

In [92]:
df['new Column'] = df['UserID'] + df['Quantity']
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity  new Column
0              1      2010-08-21     7.0          2         1         8.0
1              2      2011-05-26     3.0          4         1         4.0
2              3      2011-06-16     3.0          3         1         4.0
3              4      2012-08-26     1.0          2         3         4.0
4              5      2013-06-06     2.0          4         1         3.0

In [93]:
import pandas as pd
df = pd.read_csv("transactions.csv")
df.loc[len(df)] = [20,'2025-1-29',21,22,2]
print(df)

    TransactionID TransactionDate  UserID  ProductID  Quantity
0               1      2010-08-21     7.0          2         1
1               2      2011-05-26     3.0          4         1
2               3      2011-06-16     3.0          3         1
3               4      2012-08-26     1.0          2         3
4               5      2013-06-06     2.0          4         1
5               6      2013-12-23     2.0          5         6
6               7      2013-12-30     3.0          4         1
7               8      2014-04-24     NaN          2         3
8               9      2015-04-24     7.0          4         3
9              10      2016-05-08     3.0          4         4
10             20       2025-1-29    21.0         22         2

In [94]:
df.loc[df['UserID'] == 2, 'Quantity'] = 50
print(df)# modifying values

    TransactionID TransactionDate  UserID  ProductID  Quantity
0               1      2010-08-21     7.0          2         1
1               2      2011-05-26     3.0          4         1
2               3      2011-06-16     3.0          3         1
3               4      2012-08-26     1.0          2         3
4               5      2013-06-06     2.0          4        50
5               6      2013-12-23     2.0          5        50
6               7      2013-12-30     3.0          4         1
7               8      2014-04-24     NaN          2         3
8               9      2015-04-24     7.0          4         3
9              10      2016-05-08     3.0          4         4
10             20       2025-1-29    21.0         22         2

# exercise problems

# 1. Print Summary of transaction data set

In [95]:
import pandas as pd  #Print Summary of transaction data set
df=pd.read_csv("transactions.csv")
print(df)
print(df.describe())
print(df.info)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4
       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000
<bound method DataFrame.info of    TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4>

# 2. Print Numbers of Attributes

In [96]:
print("Number of attributes (columns):", df.shape[1])

Number of attributes (columns): 5

# 3. Print Numbers of Records

In [97]:
print("Number of records (rows):", df.shape[0])

Number of records (rows): 10

# 4. Get the row names

In [98]:
print("Row names (index labels):", df.index.tolist())

Row names (index labels): [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# 5. Get the column names

In [99]:
print("Attributes (Column Names):", df.columns.tolist())

Attributes (Column Names): ['TransactionID', 'TransactionDate', 'UserID', 'ProductID', 'Quantity']

# 6. View top 10 Records

In [100]:
print(df.head(10))#6. View top 4 Records

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

# 7.Change the name of column “ Quantity” to “Quant”

In [101]:
df.rename(columns={'Quantity':"Quant"},inplace=True)
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1
5              6      2013-12-23     2.0          5      6
6              7      2013-12-30     3.0          4      1
7              8      2014-04-24     NaN          2      3
8              9      2015-04-24     7.0          4      3
9             10      2016-05-08     3.0          4      4

# 8.Change the name of columns ProductID and UserID to PID and UID respectively

In [102]:
df.rename(columns={"UserID":"UID","ProductID":"PID"},inplace=True)
print(df)

   TransactionID TransactionDate  UID  PID  Quant
0              1      2010-08-21  7.0    2      1
1              2      2011-05-26  3.0    4      1
2              3      2011-06-16  3.0    3      1
3              4      2012-08-26  1.0    2      3
4              5      2013-06-06  2.0    4      1
5              6      2013-12-23  2.0    5      6
6              7      2013-12-30  3.0    4      1
7              8      2014-04-24  NaN    2      3
8              9      2015-04-24  7.0    4      3
9             10      2016-05-08  3.0    4      4

# 9. Order the rows of transactions by TransactionId descending, if ascending then ascending=True

In [103]:
import pandas as pd
# Load the dataset
df = pd.read_csv("transactions.csv")
# 1. Order the rows of transactions by TransactionId descending
df = df.sort_values(by='TransactionID', ascending=False)
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
9             10      2016-05-08     3.0          4         4
8              9      2015-04-24     7.0          4         3
7              8      2014-04-24     NaN          2         3
6              7      2013-12-30     3.0          4         1
5              6      2013-12-23     2.0          5         6
4              5      2013-06-06     2.0          4         1
3              4      2012-08-26     1.0          2         3
2              3      2011-06-16     3.0          3         1
1              2      2011-05-26     3.0          4         1
0              1      2010-08-21     7.0          2         1

# 10. Order the rows of transactions by Quantity ascending, TransactionDate descending

In [104]:
df= df.sort_values(by=['Quantity', 'TransactionDate'], ascending=[True, False])
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
6              7      2013-12-30     3.0          4         1
4              5      2013-06-06     2.0          4         1
2              3      2011-06-16     3.0          3         1
1              2      2011-05-26     3.0          4         1
0              1      2010-08-21     7.0          2         1
8              9      2015-04-24     7.0          4         3
7              8      2014-04-24     NaN          2         3
3              4      2012-08-26     1.0          2         3
9             10      2016-05-08     3.0          4         4
5              6      2013-12-23     2.0          5         6

# 11. Set the column order of Transactions as ProductID,Quantity, TransactionDate, TransactionID, UserID

In [105]:
df= df[['ProductID', 'Quantity', 'TransactionDate', 'TransactionID', 'UserID']]
print(df)

   ProductID  Quantity TransactionDate  TransactionID  UserID
6          4         1      2013-12-30              7     3.0
4          4         1      2013-06-06              5     2.0
2          3         1      2011-06-16              3     3.0
1          4         1      2011-05-26              2     3.0
0          2         1      2010-08-21              1     7.0
8          4         3      2015-04-24              9     7.0
7          2         3      2014-04-24              8     NaN
3          2         3      2012-08-26              4     1.0
9          4         4      2016-05-08             10     3.0
5          5         6      2013-12-23              6     2.0

# 12. Make UserID the first column of transactions

In [106]:
columns = ['UserID'] + [col for col in df.columns if col != 'UserID']
df = df[columns]
print(df)

   UserID  ProductID  Quantity TransactionDate  TransactionID
6     3.0          4         1      2013-12-30              7
4     2.0          4         1      2013-06-06              5
2     3.0          3         1      2011-06-16              3
1     3.0          4         1      2011-05-26              2
0     7.0          2         1      2010-08-21              1
8     7.0          4         3      2015-04-24              9
7     NaN          2         3      2014-04-24              8
3     1.0          2         3      2012-08-26              4
9     3.0          4         4      2016-05-08             10
5     2.0          5         6      2013-12-23              6

# 13. Extracting arrays from a Data Frame. Get the 2nd column

In [107]:
second_column_array = df.iloc[:, 1].values
print(df)

   UserID  ProductID  Quantity TransactionDate  TransactionID
6     3.0          4         1      2013-12-30              7
4     2.0          4         1      2013-06-06              5
2     3.0          3         1      2011-06-16              3
1     3.0          4         1      2011-05-26              2
0     7.0          2         1      2010-08-21              1
8     7.0          4         3      2015-04-24              9
7     NaN          2         3      2014-04-24              8
3     1.0          2         3      2012-08-26              4
9     3.0          4         4      2016-05-08             10
5     2.0          5         6      2013-12-23              6

# 14 & 15. Get the ProductId array using the following variable Data Mining Lab Manual

In [108]:
product_id_array = df['ProductID'].values
print(df)

   UserID  ProductID  Quantity TransactionDate  TransactionID
6     3.0          4         1      2013-12-30              7
4     2.0          4         1      2013-06-06              5
2     3.0          3         1      2011-06-16              3
1     3.0          4         1      2011-05-26              2
0     7.0          2         1      2010-08-21              1
8     7.0          4         3      2015-04-24              9
7     NaN          2         3      2014-04-24              8
3     1.0          2         3      2012-08-26              4
9     3.0          4         4      2016-05-08             10
5     2.0          5         6      2013-12-23              6

# 16.Row subsetting, subset rows 1,3 and 6

In [109]:
subset_1_3_6 = df.iloc[[1, 3, 6]]
print(subset_1_3_6)

   UserID  ProductID  Quantity TransactionDate  TransactionID
4     2.0          4         1      2013-06-06              5
1     3.0          4         1      2011-05-26              2
7     NaN          2         3      2014-04-24              8

# 17. subset rows excluding 1,3 and 6

In [110]:
subset_excluding_1_3_6 = df.drop(index=[1, 3, 6])
print(subset_excluding_1_3_6 )

   UserID  ProductID  Quantity TransactionDate  TransactionID
4     2.0          4         1      2013-06-06              5
2     3.0          3         1      2011-06-16              3
0     7.0          2         1      2010-08-21              1
8     7.0          4         3      2015-04-24              9
7     NaN          2         3      2014-04-24              8
9     3.0          4         4      2016-05-08             10
5     2.0          5         6      2013-12-23              6

# 18. Subset the first three rows

In [111]:
subset_first_3 = df.iloc[:3]
print(subset_first_3)

   UserID  ProductID  Quantity TransactionDate  TransactionID
6     3.0          4         1      2013-12-30              7
4     2.0          4         1      2013-06-06              5
2     3.0          3         1      2011-06-16              3

# 19. Subset the last 2 rows

In [112]:
subset_last_2 = df.iloc[-2:]
print(subset_last_2)

   UserID  ProductID  Quantity TransactionDate  TransactionID
9     3.0          4         4      2016-05-08             10
5     2.0          5         6      2013-12-23              6

# 20. Subset rows excluding the last 2 rows

In [113]:
subset_excluding_last_2 = df.iloc[:-2]
print(subset_excluding_last_2)

   UserID  ProductID  Quantity TransactionDate  TransactionID
6     3.0          4         1      2013-12-30              7
4     2.0          4         1      2013-06-06              5
2     3.0          3         1      2011-06-16              3
1     3.0          4         1      2011-05-26              2
0     7.0          2         1      2010-08-21              1
8     7.0          4         3      2015-04-24              9
7     NaN          2         3      2014-04-24              8
3     1.0          2         3      2012-08-26              4

# 21. Subset rows excluding the first 3 rows

In [114]:
subset_excluding_first_3 = df.iloc[3:]
print(subset_excluding_first_3)

   UserID  ProductID  Quantity TransactionDate  TransactionID
1     3.0          4         1      2011-05-26              2
0     7.0          2         1      2010-08-21              1
8     7.0          4         3      2015-04-24              9
7     NaN          2         3      2014-04-24              8
3     1.0          2         3      2012-08-26              4
9     3.0          4         4      2016-05-08             10
5     2.0          5         6      2013-12-23              6

# 22. Subset rows where Quantity>1

In [115]:
subset_quantity_gt_1 = df[df['Quantity'] > 1]
print(subset_quantity_gt_1)

   UserID  ProductID  Quantity TransactionDate  TransactionID
8     7.0          4         3      2015-04-24              9
7     NaN          2         3      2014-04-24              8
3     1.0          2         3      2012-08-26              4
9     3.0          4         4      2016-05-08             10
5     2.0          5         6      2013-12-23              6

# 23. Subset rows where UserID=2

In [116]:
subset_userid_2 = df[df['UserID'] == 2]
print(subset_userid_2)

   UserID  ProductID  Quantity TransactionDate  TransactionID
4     2.0          4         1      2013-06-06              5
5     2.0          5         6      2013-12-23              6

# 24. Subset rows where Quantity>1 and UserID=2

In [117]:
subset_quantity_gt_1_userid_2 = df[(df['Quantity'] > 1) & (df['UserID'] == 2)]
print(subset_quantity_gt_1_userid_2)

   UserID  ProductID  Quantity TransactionDate  TransactionID
5     2.0          5         6      2013-12-23              6

# 25. Subset rows where Quantity + UserID is >3

In [118]:
subset_quantity_userid_gt_3 = df[(df['Quantity'] + df['UserID']) > 3]
print(subset_quantity_userid_gt_3)

   UserID  ProductID  Quantity TransactionDate  TransactionID
6     3.0          4         1      2013-12-30              7
2     3.0          3         1      2011-06-16              3
1     3.0          4         1      2011-05-26              2
0     7.0          2         1      2010-08-21              1
8     7.0          4         3      2015-04-24              9
3     1.0          2         3      2012-08-26              4
9     3.0          4         4      2016-05-08             10
5     2.0          5         6      2013-12-23              6

# 26. Subset rows where an external array, foo, is True

In [119]:
import pandas as pd

# Load the CSV file
file_path = 'transactions.csv'  # Updated path
df = pd.read_csv(file_path)

# Example: external array 'foo' with 10 boolean values, corresponding to the 10 rows in the dataframe
foo = [True, False, True, True, False, True, False, True, True, False]  # Example array

# Subset rows where 'foo' is True
subset_df = df[foo]

# Display the resulting subset
subset_df

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
5              6      2013-12-23     2.0          5         6
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3

# 27. Subset rows where an external array, bar, is positive

In [120]:
import pandas as pd

# Load the CSV file
file_path = 'transactions.csv'  # Updated path
df = pd.read_csv(file_path)

# Example: external array 'bar' with numerical values (positive, negative, etc.)
bar = [1, -2, 3, 4, -5, 6, -7, 8, 9, -10]  # Example array

# Convert 'bar' list to a pandas Series to enable element-wise comparison
bar_series = pd.Series(bar)

# Subset rows where 'bar' values are positive
positive_bar = bar_series > 0

# Subset the dataframe based on the positive values in 'bar'
subset_df = df[positive_bar]

# Display the resulting subset
subset_df

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
5              6      2013-12-23     2.0          5         6
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3

# 28. Subset rows where foo is TRUE or bar is negative

In [121]:
import pandas as pd

# Load the CSV file
file_path = 'transactions.csv'  # Updated path
df = pd.read_csv(file_path)

# Example: external arrays 'foo' and 'bar'
foo = [True, False, True, True, False, True, False, True, True, False]  # Example array for 'foo'
bar = [1, -2, 3, 4, -5, 6, -7, 8, 9, -10]  # Example array for 'bar'

# Convert 'bar' list to a pandas Series to enable element-wise comparison
bar_series = pd.Series(bar)

# Create boolean mask for 'foo' being True or 'bar' being negative
condition = (pd.Series(foo) | (bar_series < 0))

# Subset the dataframe based on the condition
subset_df = df[condition]

# Display the resulting subset
subset_df

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

# 29. Subset the rows where foo is not TRUE and bar is not negative

In [122]:
import pandas as pd

# Load the CSV file
file_path = 'transactions.csv'  # Updated path
df = pd.read_csv(file_path)

# Example: external arrays 'foo' and 'bar'
foo = [True, False, True, True, False, True, False, True, True, False]  # Example array for 'foo'
bar = [1, -2, 3, 4, -5, 6, -7, 8, 9, -10]  # Example array for 'bar'

# Convert 'bar' list to a pandas Series to enable element-wise comparison
bar_series = pd.Series(bar)

# Create boolean mask for 'foo' not being True and 'bar' not being negative
condition = (~pd.Series(foo)) & (bar_series >= 0)

# Subset the dataframe based on the condition
subset_df = df[condition]

# Display the resulting subset
subset_df

Empty DataFrame
Columns: [TransactionID, TransactionDate, UserID, ProductID, Quantity]
Index: []

# 30. Subset by columns 1 and 3

In [123]:
import pandas as pd

# Load the CSV file
file_path = 'transactions.csv'  # Updated path
df = pd.read_csv(file_path)

# Subset the dataframe by columns 1 and 3 (0-based index)
subset_df = df.iloc[:, [1, 3]]

# Display the resulting subset
subset_df

  TransactionDate  ProductID
0      2010-08-21          2
1      2011-05-26          4
2      2011-06-16          3
3      2012-08-26          2
4      2013-06-06          4
5      2013-12-23          5
6      2013-12-30          4
7      2014-04-24          2
8      2015-04-24          4
9      2016-05-08          4

# 31. Subset by columns TransactionID and TransactionDate

In [124]:
import pandas as pd

# Load the CSV file
file_path = 'transactions.csv'  # Updated path
df = pd.read_csv(file_path)

# Subset the dataframe by columns 'TransactionID' and 'TransactionDate'
subset_df = df[['TransactionID', 'TransactionDate']]

# Display the resulting subset
subset_df

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

# 32. Subset by columns TransactionID and TransactionDate with logical operator

In [125]:
import pandas as pd

# Load the CSV file
file_path = 'transactions.csv'  # Updated path
df = pd.read_csv(file_path)

# Example: Apply a condition on 'TransactionDate' (e.g., transactions after '2012-01-01')
df['TransactionDate'] = pd.to_datetime(df['TransactionDate'])  # Convert to datetime if not already
condition = df['TransactionDate'] > '2012-01-01'

# Subset the dataframe by 'TransactionID' and 'TransactionDate' where the condition is True
subset_df = df.loc[condition, ['TransactionID', 'TransactionDate']]

# Display the resulting subset
subset_df

   TransactionID TransactionDate
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

# 33. Subset columns by a variable list of column names

In [126]:
import pandas as pd

# Load the CSV file
file_path = 'transactions.csv'  # Updated path
df = pd.read_csv(file_path)

# Define the variable list of column names you want to subset
columns_to_select = ['TransactionID', 'TransactionDate']  # Example list

# Subset the dataframe by the variable list of column names
subset_df = df[columns_to_select]

# Display the resulting subset
subset_df

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

# 34. Subset columns excluding a variable list of column names

In [127]:
import pandas as pd

# Load the CSV file
file_path = 'transactions.csv'  # Updated path
df = pd.read_csv(file_path)

# Define the variable list of column names to exclude
columns_to_exclude = ['TransactionID', 'TransactionDate']  # Example list

# Subset the dataframe by excluding the columns in the list
subset_df = df.drop(columns=columns_to_exclude)

# Display the resulting subset
subset_df

   UserID  ProductID  Quantity
0     7.0          2         1
1     3.0          4         1
2     3.0          3         1
3     1.0          2         3
4     2.0          4         1
5     2.0          5         6
6     3.0          4         1
7     NaN          2         3
8     7.0          4         3
9     3.0          4         4

# 35. Inserting and updating values

In [128]:
import pandas as pd

# Load the CSV file
file_path = 'transactions.csv'  # Updated path
df = pd.read_csv(file_path)

# Example: Insert a new column 'NewColumn' with a default value
df['NewColumn'] = 'DefaultValue'  # Inserting a column with a default value

# Display the updated dataframe
df

   TransactionID TransactionDate  UserID  ProductID  Quantity     NewColumn
0              1      2010-08-21     7.0          2         1  DefaultValue
1              2      2011-05-26     3.0          4         1  DefaultValue
2              3      2011-06-16     3.0          3         1  DefaultValue
3              4      2012-08-26     1.0          2         3  DefaultValue
4              5      2013-06-06     2.0          4         1  DefaultValue
5              6      2013-12-23     2.0          5         6  DefaultValue
6              7      2013-12-30     3.0          4         1  DefaultValue
7              8      2014-04-24     NaN          2         3  DefaultValue
8              9      2015-04-24     7.0          4         3  DefaultValue
9             10      2016-05-08     3.0          4         4  DefaultValue

# 36. Convert the TransactionDate column to type Date

In [129]:
import pandas as pd

# Load the CSV file
file_path = 'transactions.csv'  # Updated path
df = pd.read_csv(file_path)

# Convert the 'TransactionDate' column to datetime
df['TransactionDate'] = pd.to_datetime(df['TransactionDate'])

# Display the updated dataframe to check the change
df.dtypes  # To check the data types of the columns

TransactionID               int64
TransactionDate    datetime64[ns]
UserID                    float64
ProductID                   int64
Quantity                    int64
dtype: object

# 37. Insert a new column, Foo=UserID+ProductID

In [130]:
import pandas as pd

# Load the CSV file
file_path = 'transactions.csv'  # Updated path
df = pd.read_csv(file_path)

# Insert a new column 'Foo' as the sum of 'UserID' and 'ProductID'
df['Foo'] = df['UserID'] + df['ProductID']

# Display the updated dataframe
df

   TransactionID TransactionDate  UserID  ProductID  Quantity   Foo
0              1      2010-08-21     7.0          2         1   9.0
1              2      2011-05-26     3.0          4         1   7.0
2              3      2011-06-16     3.0          3         1   6.0
3              4      2012-08-26     1.0          2         3   3.0
4              5      2013-06-06     2.0          4         1   6.0
5              6      2013-12-23     2.0          5         6   7.0
6              7      2013-12-30     3.0          4         1   7.0
7              8      2014-04-24     NaN          2         3   NaN
8              9      2015-04-24     7.0          4         3  11.0
9             10      2016-05-08     3.0          4         4   7.0